{% extends 'base.html.twig' %}

{% block title %}My homepage | Movies{% endblock %}

{% block pagename %}My favorite movies{% endblock %}

{% block body %}
  <div class="content content-halfpage">
    <p>
      There is a certain amount of defined criteria for me to consider a movie 
      my &lsquo;favorite&rsquo;; so take a look at them.
    </p>

    <br />

    <ol>
      <li>The Lord of the Rings Trilogy</li>
      <li>Monty Python and the Holy Grail</li>
      <li>Blade Runner</li>
      <li>Forrest Gump</li>
      <li>Star Wars: The Clone Wars Animated Series</li>
    </ol>

    <a href="{{ path('homepage-index') }}"><h3 class="content-heading">Back to homepage</h3></a>
  </div>
{% endblock %}
