/* Globals */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.03em;
}

.link
{
    color: #33aaff;
    transition: .5s;
}

.link:hover,
.link:active
{
    filter: brightness(.9);
}


/* Header */
.page-header
{
    width: 98%;
    padding: 2%;
    padding-left: 0;
}

.page-header__page-name
{
    font-size: 1.3em;
    font-weight: bold;
    width: 50%;
    margin: auto;
}


/* Content */
.page-content
{
    padding: 1%;
}

.page-content_halfpage
{
    margin-left: 25%;
    width: 48%;
}

.page-content__primary-heading
{
    font-weight: bold;
    margin: 25px 0 10px;
}

.page-content__secondary-heading
{
    font-weight: bold;
    margin: 25px 0 5px;
}

.page-content__pfp
{
    max-height: 300px;
    width: auto;
    float: right;
    border-radius: 3px;
    transition: .3s linear;
}

.page-content__pfp:hover
{
    transform: scale(1.05);
}

.page-content__hobby-heading
{
    margin-top: 150px;
    text-align: center;
}

.page-content__hobby-caption
{
    font-style: italic;
    text-align: center;
    display: block;
}

.hobby__heading
{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.hobbies__update-btn
{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 15px;
    font: bold 18px Consolas, monospace;
    background-color: #33aaff;
    border: none;
    border-radius: 5px;
}

.hobbies__update-btn:hover,
.hobbies__update-btn:active
{
    filter: brightness(.9);
}

.hobbies__update-info
{
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}


/* Footer */
.page-footer
{
    width: 98%;
    padding: 2%;
    padding-left: 0;
}

.page-footer__copyright
{
    width: 50%;
    margin: 0 auto;
}
